<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UberClientID</key>
	<string>testClientID</string>
	<key>UberDisplayName</key>
	<string>My Awesome App</string>
	<key>UberServerToken</key>
	<string>testServerToken</string>
	<key>UberCallbackURI</key>
	<string>testUri://uberConnect</string>
    <key>UberCallbackURIs</key>
    <array>
        <dict>
            <key>UberCallbackURIType</key>
            <string>General</string>
            <key>URIString</key>
            <string>testURI://uberConnectGeneral</string>
        </dict>
        <dict>
            <key>UberCallbackURIType</key>
            <string>AuthorizationCode</string>
            <key>URIString</key>
            <string>testURI://uberConnectAuthorizationCode</string>
        </dict>
        <dict>
            <key>UberCallbackURIType</key>
            <string>Implicit</string>
            <key>URIString</key>
            <string>testURI://uberConnectImplicit</string>
        </dict>
        <dict>
            <key>UberCallbackURIType</key>
            <string>Native</string>
            <key>URIString</key>
            <string>testURI://uberConnectNative</string>
        </dict>
    </array>
</dict>
</plist>
